<img src="{{ asset(author.picture) }}" height="200px" width="200px" style="border-radius: 50%; border: 2px solid #000;" />
<p style="font-weight: bold; font-size: 20px;">{{ author.username|upper }}</p>
<p style="color: #555;">{{ author.email }}</p>
<p style="font-style: italic;">Number of Books: {{ author.nb_books }}</p>
